@import '_fonts.less';
// @import '_vars.less';
// @import '_default.less';
// @import '_forms.less';

@import '../libs/bootstrap-material-design-master/less/bootstrap-material-design.less';

@brand-primary: #ffa700;
@default-color: #333;


// fonts
@font-sfui: "SFUIDisplay-Light", sans-serif;

@font-mullerregular: "MullerRegular", sans-serif;
@font-mullermedium: "MullerMedium", sans-serif;
@font-mullerbold: "MullerBold", sans-serif;
@font-mullerextrabold: "MullerExtraBold", sans-serif;
@font-mullerheavy: "MullerHeavy", sans-serif;

@font-gothamproregular: "GothamProRegular", sans-serif;




// Prevent highlight on mobile
* {
	margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    &:focus {
        outline: 0;
    }
}

.btn,
.btn:not(.btn-raised) {
	color: inherit;
	display: inherit;
	font-size: inherit;
	text-align: inherit;
	text-transform: inherit;
	margin: inherit;
	padding: inherit;
	width: inherit;
	&img {
		display: inline;
	}
}

:not(.focus-fade) {
	&::placeholder {
		color:#fff;
		text-overflow:ellipsis;
	} 

	&:focus::placeholder {
		color: transparent;
	}
}


/* плавное изменение прозрачности  placeholder-а при фокусе */
.focus-fade {
	&::placeholder {
		color:#fff;
		opacity: 1;
		transition: opacity .3s ease;
	}
	
	&:focus::placeholder {
		color: #000;
		opacity: 0;
		transition: opacity .3s ease;
	}
}

html {
	height: 100%;
}
body {
	background: #fcfcfc;
	color: @default-color;
	font-size: 14px;
    font-family: @font-mullerregular;
	min-height: 100%;
    margin: 0;
    padding: 0;

	// display: flex;
	// min-height: 100vh;
	// flex-direction: column; 
}

a {
    color: #000;
    &:visited,
    &:hover,
    &:focus,
    &:active {
        color: #000;
        outline: none;
        text-decoration: none;
    }
}
input:focus {outline: none;}

// Уберем синюю дефолтную рамку вокруг контролов
// и подчеркивание у активных ссылок,
a,
button,
.control-button,
.menu-button,
.btn {
    outline: none;
    &:hover,
    &:active,
    &:focus,
    &:active:focus {
        outline: none;
        text-decoration: none;
    }
}
// а также у инпутов
input[type=file],
input[type=checkbox],
input[type=radio] {
	&:focus {
		outline: none;
	}
}

ul, ol {
    list-style-type: none;
}

.hidden {
	display: none;
	opacity: 0;
}


.brand-color {
	color: @brand-primary;
}
.brand-bg {
	background: @brand-primary;
}

// Header
.header {
	height: 120px;
}
.logo-header,
.logo-footer {
	.logo {
		width: 100%;
		height: auto;
		transform: translateY(-38%);
	}
}

// гавное меню в шапке и подвале
.nav-header,
.nav-footer {
	font-size: 14px;
	.nav-item {
		margin: 0 auto;
		text-transform: uppercase;
	}
}
.nav-header {
	.nav-item {
		a {
			color: #626262;
		}
		&.active {
			a {
				color: @brand-primary;
				font-family: @font-mullerextrabold;
			}
		}
	}
}
.phone-header {
	.icon-wrapper {
		border-radius: 50%;
		width: 25px;
		height: 25px;
	}
	.icon {
		color: #fff;
		font-size: 14px;
	}
}
.nav-footer {
	.nav-item {
		a {
			color: #b3b2b2;
		}
		&.active {
			a {
				color: #eaeaea;
			}
		}
	}
}

// Footer
.footer {
	background: #383838;
	height: 178px;
	/* position: absolute;
	left: 0;
	right: 0;
	bottom: 0; */
	.rights {
		color: #b3b2b2;
		font-family: @font-gothamproregular;
		font-size: 10px;
	}
}

// основной контент страницы
.page-content {
	// flex: 1;
	padding: 0 0 50px;
}



.section {
	padding-top: 66px;
}

.section-title {
	color:  #626262;
	font-size: 30px;
	font-family: @font-mullermedium;
	font-weight: normal;
	margin-bottom: 80px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	&:after {
		background: @brand-primary;
		content: '';
		display: block;
		width: 120px;
		height: 3px;
		position: absolute;
		text-align: center;
		left: 50%;
		bottom: -50%;
		transform: translateX(-50%);
	}
}

.banner-title {
	color: #fff;
	font-family: @font-mullerbold;
	font-size: 30px;
}

.main-title {
	color: @brand-primary;
	font-family: @font-mullerbold;
	font-size: 30px;
	margin: 50px 0 30px;
	.title-detail {
		color: @default-color;
		font-family: @font-mullerregular;
		font-size: 20px;
	}
}

.extra-title {
	font-family: @font-mullerbold;
	font-size: 20px;
}

.section-content {
	margin: 0 auto;
	width: 84%;
}


// about.html
.banner-about {
	background: url('../img/banner-about.jpg') no-repeat center / cover;
	height: 370px;
	// margin-bottom: 50px;
	.banner-content {
		padding-right: 100px;
	}
}

.connection-order {
	.item-number {
		color: @brand-primary;
		font-family: @font-mullerheavy;
		font-size: 40px;
		padding-right: 10px;
		position: relative;
		top: 2px;
	}
	.item-link {
		color: @brand-primary;
		text-decoration: underline;
	}
}

.connection-details {
	margin-top: 20px;
}



// news.html
#news {
	.page-content {
		background: #f3f3f3;
	}
}

.news-list {
	.news-item-wrapper {
		margin-bottom: 100px;
		padding: 15px;
	}
	.news-item {
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
		height: 406px;
	}
	.news-item-image {
		width: 100%;
	}
	.news-item-content {
		padding: 35px 12px;
	}
	.news-title {
		color:  #626262;
		font-family: @font-mullermedium;
		font-size: 18px;
	}
	.news-summary {
		color:  #626262;
		font-family: @font-mullerregular;
		font-size: 14px;
		margin: 35px 0;
	}
	.news-more {
		color:  @brand-primary;
		font-family: @font-mullermedium;
		font-size: 12px;
	}
}

.news-pagination {
	display: inline-block;
	margin-right: 15px;
	.pager-item {
		display: inline-block;
		margin-right: 2px;
		a {
			color:  #626262;
			font-family: @font-mullermedium;
			font-size: 16px;
		}
		&.active {
			a {
				color: @brand-primary;
				font-family: @font-mullerbold;
			}
		}
	}
}