@font-face {
  font-family: 'MullerRegular';
  src: url('../fonts/Muller/MullerRegular.otf');
  src: url('../fonts/Muller/MullerRegular.otf') format('embedded-opentype'), url('../fonts/Muller/MullerRegular.otf') format('woff'), url('../fonts/Muller/MullerRegular.otf') format('truetype'), url('../fonts/Muller/MullerRegular.otf') format('svg');
  src: local('MullerRegular'), url('../fonts/Muller/MullerRegular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerMedium';
  src: url('../fonts/Muller/MullerMedium.otf');
  src: url('../fonts/Muller/MullerMedium.otf') format('embedded-opentype'), url('../fonts/Muller/MullerMedium.otf') format('woff'), url('../fonts/Muller/MullerMedium.otf') format('truetype'), url('../fonts/Muller/MullerMedium.otf') format('svg');
  src: local('MullerMedium'), url('../fonts/Muller/MullerMedium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerBold';
  src: url('../fonts/Muller/MullerBold.otf');
  src: url('../fonts/Muller/MullerBold.otf') format('embedded-opentype'), url('../fonts/Muller/MullerBold.otf') format('woff'), url('../fonts/Muller/MullerBold.otf') format('truetype'), url('../fonts/Muller/MullerBold.otf') format('svg');
  src: local('MullerBold'), url('../fonts/Muller/MullerBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerExtraBold';
  src: url('../fonts/Muller/MullerExtraBold.otf');
  src: url('../fonts/Muller/MullerExtraBold.otf') format('embedded-opentype'), url('../fonts/Muller/MullerExtraBold.otf') format('woff'), url('../fonts/Muller/MullerExtraBold.otf') format('truetype'), url('../fonts/Muller/MullerExtraBold.otf') format('svg');
  src: local('MullerExtraBold'), url('../fonts/Muller/MullerExtraBold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MullerHeavy';
  src: url('../fonts/Muller/MullerHeavy.otf');
  src: url('../fonts/Muller/MullerHeavy.otf') format('embedded-opentype'), url('../fonts/Muller/MullerHeavy.otf') format('woff'), url('../fonts/Muller/MullerHeavy.otf') format('truetype'), url('../fonts/Muller/MullerHeavy.otf') format('svg');
  src: local('MullerHeavy'), url('../fonts/Muller/MullerHeavy.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamProRegular';
  src: url('../fonts/GothamProRegular.otf');
  src: url('../fonts/GothamProRegular.otf') format('embedded-opentype'), url('../fonts/GothamProRegular.otf') format('woff'), url('../fonts/GothamProRegular.otf') format('truetype'), url('../fonts/GothamProRegular.otf') format('svg');
  src: local('GothamProRegular'), url('../fonts/GothamProRegular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamProLight';
  src: url('../fonts/GothamProLight.otf');
  src: url('../fonts/GothamProLight.otf') format('embedded-opentype'), url('../fonts/GothamProLight.otf') format('woff'), url('../fonts/GothamProLight.otf') format('truetype'), url('../fonts/GothamProLight.otf') format('svg');
  src: local('GothamProLight'), url('../fonts/GothamProLight.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material-icons/MaterialIcons-Regular.woff2?v=2.2.0) format('woff2'), url(../fonts/material-icons/MaterialIcons-Regular.woff?v=2.2.0) format('woff'), url(../fonts/material-icons/MaterialIcons-Regular.ttf?v=2.2.0) format('truetype');
}
i,
.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-align: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}
.icon-xs {
  font-size: 12px;
}
.icon-sm {
  font-size: 18px;
}
.icon-md {
  font-size: 24px;
}
.icon-lg {
  font-size: 36px;
}
.icon-xl {
  font-size: 48px;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: 0;
}
.btn,
.btn:not(.btn-raised) {
  color: inherit;
  display: inherit;
  font-size: inherit;
  text-align: inherit;
  text-transform: inherit;
  margin: inherit;
  padding: inherit;
  width: inherit;
}
.btnimg,
.btn:not(.btn-raised)img {
  display: inline;
}
:not(.focus-fade)::-webkit-input-placeholder {
  color: #fff;
  text-overflow: ellipsis;
}
:not(.focus-fade)::-moz-placeholder {
  color: #fff;
  text-overflow: ellipsis;
}
:not(.focus-fade):-ms-input-placeholder {
  color: #fff;
  text-overflow: ellipsis;
}
:not(.focus-fade)::placeholder {
  color: #fff;
  text-overflow: ellipsis;
}
:not(.focus-fade):focus::-webkit-input-placeholder {
  color: transparent;
}
:not(.focus-fade):focus::-moz-placeholder {
  color: transparent;
}
:not(.focus-fade):focus:-ms-input-placeholder {
  color: transparent;
}
:not(.focus-fade):focus::placeholder {
  color: transparent;
}
/* плавное изменение прозрачности  placeholder-а при фокусе */
.focus-fade::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade::-moz-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade::placeholder {
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade:focus::-webkit-input-placeholder {
  color: #000;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade:focus::-moz-placeholder {
  color: #000;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade:focus:-ms-input-placeholder {
  color: #000;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
.focus-fade:focus::placeholder {
  color: #000;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
html {
  height: 100%;
}
body {
  background: #fcfcfc;
  color: #333;
  font-size: 14px;
  font-family: "MullerRegular", sans-serif;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: #000;
}
a:visited,
a:hover,
a:focus,
a:active {
  color: #000;
  outline: none;
  text-decoration: none;
}
input:focus {
  outline: none;
}
a,
button,
.control-button,
.menu-button,
.btn {
  outline: none;
}
a:hover,
button:hover,
.control-button:hover,
.menu-button:hover,
.btn:hover,
a:active,
button:active,
.control-button:active,
.menu-button:active,
.btn:active,
a:focus,
button:focus,
.control-button:focus,
.menu-button:focus,
.btn:focus,
a:active:focus,
button:active:focus,
.control-button:active:focus,
.menu-button:active:focus,
.btn:active:focus {
  outline: none;
  text-decoration: none;
}
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
  outline: none;
}
ul,
ol {
  list-style-type: none;
}
.hidden {
  display: none;
  opacity: 0;
}
.brand-primary {
  color: #ffa700;
}
.brand-bg {
  background: #ffa700;
}
.header {
  height: 120px;
}
.logo-header .logo,
.logo-footer .logo {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-24%);
      -ms-transform: translateY(-24%);
          transform: translateY(-24%);
}
body .toggle-nav {
  display: none;
  cursor: pointer;
  margin: 0;
  width: 33px;
  height: 30px;
  left: 3%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body .toggle-nav span {
  display: block;
  height: 1px;
  background-color: #ffa700;
  margin: 9px 0 0;
}
body .toggle-nav span.first {
  margin-top: 0;
}
body.menu-visible .toggle-nav {
  -webkit-transform: rotate(0deg) scale(0.9) skew(0deg) translateX(0px) translateY(0px);
  -ms-transform: rotate(0deg) scale(0.9) skew(0deg) translateX(0px) translateY(0px);
  transform: rotate(0deg) scale(0.9) skew(0deg) translateX(0px) translateY(0px);
}
body.menu-visible .toggle-nav .first {
  -webkit-transform: rotate(45deg) scale(1.4) skew(0deg) translateX(5px) translateY(3px);
  -ms-transform: rotate(45deg) scale(1.4) skew(0deg) translateX(5px) translateY(3px);
  transform: rotate(45deg) scale(1.4) skew(0deg) translateX(5px) translateY(3px);
}
body.menu-visible .toggle-nav .second {
  -webkit-transform: rotate(0deg) scale(1) skew(0deg) translateX(0) translateY(-12px);
  -ms-transform: rotate(0deg) scale(1) skew(0deg) translateX(0) translateY(-12px);
  transform: rotate(0deg) scale(1) skew(0deg) translateX(0) translateY(-12px);
  opacity: 0;
  height: 40px;
  margin: 0;
}
body.menu-visible .toggle-nav .third {
  -webkit-transform: rotate(-45deg) scale(1.4) skew(0deg) translateX(22px) translateY(-20px);
  -ms-transform: rotate(-45deg) scale(1.4) skew(0deg) translateX(22px) translateY(-20px);
  transform: rotate(-45deg) scale(1.4) skew(0deg) translateX(22px) translateY(-20px);
}
body.menu-visible .toggle-nav:hover {
  -webkit-transform: rotate(0deg) scale(0.8) skew(0deg) translateX(0px) translateY(0px);
  -ms-transform: rotate(0deg) scale(0.8) skew(0deg) translateX(0px) translateY(0px);
  transform: rotate(0deg) scale(0.8) skew(0deg) translateX(0px) translateY(0px);
}
.nav-header,
.nav-footer {
  font-size: 14px;
}
.nav-header .nav-item,
.nav-footer .nav-item {
  margin: 0 auto;
  text-transform: uppercase;
}
.nav-header .nav-item a {
  color: #626262;
}
.nav-header .nav-item.active a {
  color: #ffa700;
  font-family: "MullerExtraBold", sans-serif;
}
.phone-header .icon-wrapper {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 25px;
  height: 25px;
}
.phone-header .icon {
  color: #fff;
  font-size: 14px;
}
.nav-footer .nav-item a {
  color: #b3b2b2;
}
.nav-footer .nav-item.active a {
  color: #eaeaea;
}
.footer {
  background: #383838;
  height: 178px;
}
.footer .rights {
  color: #b3b2b2;
  font-family: "GothamProRegular", sans-serif;
  font-size: 10px;
}
@media only screen and (max-width: 991px) {
  .page-content {
    border-top: 1px solid #ddd;
  }
  .header {
    height: 90px;
  }
  .header .nav {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow-y: hidden;
  }
  .footer {
    height: 120px;
  }
  .footer .nav {
    display: none;
  }
  .footer .rights {
    text-align: center;
  }
  .logo-header a,
  .logo-footer a {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .logo-header .logo,
  .logo-footer .logo {
    width: 70%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  body .toggle-nav {
    display: block;
    position: absolute;
    top: 34px;
    z-index: 2;
  }
  body .nav-header {
    opacity: 0;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  body.menu-visible .page-content {
    overflow-y: hidden;
    height: 0;
  }
  body.menu-visible .nav-header {
    background: #fff;
    border-top: 1px solid #ddd;
    display: block;
    padding-top: 10px;
    opacity: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 90px;
    bottom: 0;
    overflow-y: visible;
  }
  body.menu-visible .nav-header .nav-item {
    height: auto;
    text-align: center;
    padding: 16px 0;
  }
  .nav-item {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .footer {
    height: 90px;
  }
  .logo-header .logo,
  .logo-footer .logo {
    width: 50%;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .body .toggle-nav {
    top: 26px;
  }
  .body.menu-visible .nav-header {
    top: 70px;
  }
}
.section-title-wrapper {
  position: relative;
}
.section-title-wrapper .extra-link {
  position: absolute;
  top: 50%;
  z-index: 1;
}
.section-title-wrapper .extra-link.left {
  left: 0;
}
.section-title-wrapper .extra-link.right {
  right: 0;
}
.section-title-wrapper .extra-link a {
  color: #626262;
}
@media (max-width: 767px) {
  .section-title-wrapper .extra-link {
    position: static;
  }
}
.section-title {
  color: #626262;
  font-size: 30px;
  font-family: "MullerMedium", sans-serif;
  font-weight: normal;
  margin: 70px 0 80px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
.section-title:after {
  background: #ffa700;
  content: '';
  display: block;
  width: 120px;
  height: 3px;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 767px) {
  .section-title {
    margin-bottom: 10vmin;
  }
}
/* .banner-title {
	color: #fff;
	font-family: @font-mullerbold;
	font-size: 30px;
} */
.main-title {
  color: #ffa700;
  font-family: "MullerBold", sans-serif;
  font-size: 30px;
  margin: 50px 0 30px;
}
.main-title .title-detail {
  color: #333;
  font-family: "MullerRegular", sans-serif;
  font-size: 20px;
}
.extra-title {
  font-family: "MullerBold", sans-serif;
  font-size: 20px;
}
.section-content {
  margin: 0 auto;
  width: 84%;
}
@media (max-width: 767px) {
  .section-content {
    width: 100%;
  }
}
#main .consumers {
  margin: 30px 0 50px;
  padding: 0;
}
#main .news-list {
  background: #f3f3f3;
}
.button,
a.button {
  background: transparent;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: "MullerMedium", sans-serif;
  font-size: 16px;
  padding: 11px 42px;
}
.banner-nowtaxi {
  background-color: #293b4e;
  background-image: url('../img/banner-nowtaxi.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40% auto;
  color: #fff;
  padding: 110px 0;
}
.banner-nowtaxi .banner-title {
  font-family: "GothamProLight", sans-serif;
  font-size: 70px;
}
.banner-nowtaxi .banner-descr {
  font-family: "MullerRegular", sans-serif;
  font-size: 20px;
  margin: -10px 0 50px 0;
}
.product-consumer .consumer {
  height: 120px;
  margin: 0 auto;
}
.product-consumer .consumer .consumer-image {
  width: auto;
}
.product-consumer .consumer .consumer-title {
  text-align: center;
}
.banner-download {
  background-color: #292929;
  color: #fff;
  height: 430px;
}
.banner-download .container {
  position: relative;
}
.banner-download .banner-bg {
  background-image: url('../img/banner-download.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  left: -200px;
  top: -6%;
}
.banner-download .flex > .banner-bg {
  height: 130%;
}
.banner-download .flex > .banner-content {
  height: auto;
}
.banner-download .banner-content {
  padding: 20px 0;
  position: relative;
  z-index: 1;
}
.banner-download .banner-title {
  font-family: "GothamProLight", sans-serif;
  font-size: 70px;
}
.banner-download .banner-descr {
  font-family: "MullerRegular", sans-serif;
  font-size: 60px;
  line-height: 1.20;
}
.banner-download .banner-descr .app-name {
  font-family: "MullerBold", sans-serif;
}
.banner-download .more-info {
  background: #ffa700;
  border: 0;
  margin: 24px 0 0 100px;
}
.why-we {
  margin-bottom: 120px;
}
.achievements {
  position: relative;
}
.achievements:after {
  background-image: url('../img/case-presentation.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50% auto;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  .achievements:after {
    display: none;
  }
}
.achieve-list .achieve-item {
  font-size: 18px;
  padding: 0 0 0 80px;
  margin-bottom: 40px;
  position: relative;
}
.achieve-list .achieve-item:before {
  background: url('../img/bullet.png') no-repeat center / cover;
  content: "";
  display: block;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.complex-consist {
  background: #f3f3f3;
}
.complex-parts {
  margin-bottom: 80px;
}
.complex-parts .part {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  margin: 0 auto;
  height: 340px;
  width: 90%;
  position: relative;
}
@media (max-width: 991px) {
  .complex-parts .part {
    height: 380px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .complex-parts .part {
    width: 50%;
  }
}
.complex-parts .part-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  position: absolute;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  z-index: 0;
}
.complex-parts .part-bg.part-driver {
  background-image: url('../img/part-driver.png');
}
.complex-parts .part-bg.part-service {
  background-image: url('../img/part-service.png');
}
.complex-parts .part-bg.part-client {
  background-image: url('../img/part-client.png');
}
.complex-parts .part-bg.part-api {
  background-image: url('../img/part-api.png');
}
.complex-parts .part-descr {
  color: #fff;
  font-family: "MullerMedium", sans-serif;
  font-size: 18px;
  line-height: 1.25;
  margin: 88% 8% 0;
  width: 84%;
  z-index: 1;
}
@media (max-width: 991px) {
  .complex-parts .part-descr {
    margin: auto 8% 5%;
  }
}
.banner-complex {
  background-color: #e1e0e5;
  height: 430px;
  position: relative;
}
.banner-complex .banner-bg {
  background-image: url('../img/banner-complex.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  position: absolute;
  left: 0;
}
@media (max-width: 1200px) {
  .banner-complex .banner-bg {
    background-size: 40% auto;
  }
}
.banner-complex .flex > .banner-content {
  height: auto;
}
.banner-complex .banner-content {
  position: relative;
  z-index: 1;
}
.banner-complex .banner-descr {
  font-family: "MullerRegular", sans-serif;
  font-size: 60px;
  line-height: 1.20;
}
.banner-complex .more-info {
  background: #ffa700;
  border: 0;
  margin: 24px 0 0 100px;
}
.our-clients {
  margin-bottom: 70px;
}
.our-clients .clients .client-item {
  margin: 0 auto;
  width: 150px;
}
.our-clients .clients .client-item img {
  width: 100%;
}
.nav-tab .tab-item {
  display: inline-block;
  padding: 10px 15px;
}
.nav-tab .tab-item.active a {
  color: #ffa700;
  font-family: "MullerExtraBold", sans-serif;
}
.contacts-vacancies .extra-title {
  margin-bottom: 20px;
}
.contacts-vacancies .tab-vacancies .item,
.contacts-vacancies .tab-contacts .item {
  margin-bottom: 80px;
}
.contacts-vacancies .tab-contacts a {
  font-family: "MullerMedium", sans-serif;
}
.contacts-vacancies .tab-vacancies a {
  color: #ffa700;
  text-decoration: underline;
}
.banner-about {
  background: url('../img/banner-about.jpg') no-repeat center / cover;
  height: 370px;
}
.banner-about .banner-content {
  padding-right: 100px;
}
.banner-about .banner-title {
  color: #fff;
  font-family: "MullerBold", sans-serif;
  font-size: 30px;
}
.connection-order .item-number {
  color: #ffa700;
  font-family: "MullerHeavy", sans-serif;
  font-size: 40px;
  padding-right: 10px;
  position: relative;
  top: 2px;
}
.connection-order .item-link {
  color: #ffa700;
  text-decoration: underline;
}
.connection-details {
  margin-top: 20px;
}
#news-list .page-content {
  background: #f6f6f6;
}
.news-list .news-item-wrapper {
  margin-bottom: 100px;
  padding: 15px;
}
.news-list .news-item {
  background: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  height: 406px;
}
.news-list .news-item-image {
  width: 100%;
}
.news-list .news-item-content {
  padding: 35px 12px;
  position: relative;
}
.news-list .news-title {
  color: #626262;
  font-family: "MullerMedium", sans-serif;
  font-size: 18px;
}
.news-list .news-summary {
  color: #626262;
  font-family: "MullerRegular", sans-serif;
  font-size: 14px;
  margin: 35px 0;
}
.news-list .news-more {
  color: #ffa700;
  font-family: "MullerMedium", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 45px;
}
.news-pagination {
  display: inline-block;
  margin-right: 15px;
}
.news-pagination .pager-item {
  display: inline-block;
  margin-right: 2px;
}
.news-pagination .pager-item a {
  color: #626262;
  font-family: "MullerMedium", sans-serif;
  font-size: 16px;
}
.news-pagination .pager-item.active a {
  color: #ffa700;
  font-family: "MullerBold", sans-serif;
}
#news-inside .page-content {
  background: #f6f6f6;
}
.news-full {
  background: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
}
.news-full .news-banner {
  background: #0a090f;
  padding-left: 9%;
}
@media (max-width: 767px) {
  .news-full .news-banner {
    padding-left: 0;
  }
  .news-full .news-banner .news-main-title {
    text-align: center;
  }
}
.news-full .news-main-title {
  color: #fff;
  font-family: "MullerMedium", sans-serif;
  font-size: 50px;
}
@media (max-width: 991px) {
  .news-full .news-main-title {
    font-size: 5vmin;
    padding: 2vmin;
  }
}
.news-full .news-full-image {
  width: 54%;
}
@media (max-width: 767px) {
  .news-full .news-full-image {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}
.news-full .news-content {
  padding: 3% 3% 3% 9%;
}
.news-full .news-extra-title {
  color: #ffa700;
  font-family: "MullerBold", sans-serif;
  font-size: 25px;
}
.news-full .news-descr p {
  color: #626262;
  font-size: 16px;
  margin: 30px 0 0;
}
.news-full .news-date {
  color: #7d7d7d;
  font-size: 16px;
}
.news-full + .section-title {
  margin-top: 75px;
}
.news-in-topic .news-item-wrapper {
  margin-bottom: 100px;
  padding: 15px;
}
.news-in-topic .news-item {
  background: #fff;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.15);
  height: 406px;
}
.news-in-topic .news-item-image {
  width: 100%;
}
.news-in-topic .news-item-content {
  padding: 35px 12px;
  position: relative;
}
.news-in-topic .news-title {
  color: #626262;
  font-family: "MullerMedium", sans-serif;
  font-size: 18px;
}
.news-in-topic .news-summary {
  color: #626262;
  font-family: "MullerRegular", sans-serif;
  font-size: 14px;
  margin: 35px 0;
}
.news-in-topic .news-more {
  color: #ffa700;
  font-family: "MullerMedium", sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 45px;
}
