@font-face {
    font-family: 'MullerRegular';
    src: url('../fonts/Muller/MullerRegular.otf');
    src: url('../fonts/Muller/MullerRegular.otf') format('embedded-opentype'),
         url('../fonts/Muller/MullerRegular.otf') format('woff'),
         url('../fonts/Muller/MullerRegular.otf') format('truetype'),
         url('../fonts/Muller/MullerRegular.otf') format('svg');
    src: local('MullerRegular'),
         url('../fonts/Muller/MullerRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerMedium';
    src: url('../fonts/Muller/MullerMedium.otf');
    src: url('../fonts/Muller/MullerMedium.otf') format('embedded-opentype'),
         url('../fonts/Muller/MullerMedium.otf') format('woff'),
         url('../fonts/Muller/MullerMedium.otf') format('truetype'),
         url('../fonts/Muller/MullerMedium.otf') format('svg');
    src: local('MullerMedium'),
         url('../fonts/Muller/MullerMedium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerBold';
    src: url('../fonts/Muller/MullerBold.otf');
    src: url('../fonts/Muller/MullerBold.otf') format('embedded-opentype'),
         url('../fonts/Muller/MullerBold.otf') format('woff'),
         url('../fonts/Muller/MullerBold.otf') format('truetype'),
         url('../fonts/Muller/MullerBold.otf') format('svg');
    src: local('MullerBold'),
         url('../fonts/Muller/MullerBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerExtraBold';
    src: url('../fonts/Muller/MullerExtraBold.otf');
    src: url('../fonts/Muller/MullerExtraBold.otf') format('embedded-opentype'),
         url('../fonts/Muller/MullerExtraBold.otf') format('woff'),
         url('../fonts/Muller/MullerExtraBold.otf') format('truetype'),
         url('../fonts/Muller/MullerExtraBold.otf') format('svg');
    src: local('MullerExtraBold'),
         url('../fonts/Muller/MullerExtraBold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MullerHeavy';
    src: url('../fonts/Muller/MullerHeavy.otf');
    src: url('../fonts/Muller/MullerHeavy.otf') format('embedded-opentype'),
         url('../fonts/Muller/MullerHeavy.otf') format('woff'),
         url('../fonts/Muller/MullerHeavy.otf') format('truetype'),
         url('../fonts/Muller/MullerHeavy.otf') format('svg');
    src: local('MullerHeavy'),
         url('../fonts/Muller/MullerHeavy.otf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'GothamProRegular';
    src: url('../fonts/GothamProRegular.otf');
    src: url('../fonts/GothamProRegular.otf') format('embedded-opentype'),
         url('../fonts/GothamProRegular.otf') format('woff'),
         url('../fonts/GothamProRegular.otf') format('truetype'),
         url('../fonts/GothamProRegular.otf') format('svg');
    src: local('GothamProRegular'),
         url('../fonts/GothamProRegular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProLight';
    src: url('../fonts/GothamProLight.otf');
    src: url('../fonts/GothamProLight.otf') format('embedded-opentype'),
         url('../fonts/GothamProLight.otf') format('woff'),
         url('../fonts/GothamProLight.otf') format('truetype'),
         url('../fonts/GothamProLight.otf') format('svg');
    src: local('GothamProLight'),
         url('../fonts/GothamProLight.otf');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/material-icons/MaterialIcons-Regular.woff2?v=2.2.0) format('woff2'),
    url(../fonts/material-icons/MaterialIcons-Regular.woff?v=2.2.0) format('woff'),
    url(../fonts/material-icons/MaterialIcons-Regular.ttf?v=2.2.0) format('truetype');
}

i, .icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    text-align: center;
    vertical-align: middle;

    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.icon-xs {
    font-size: 12px;
}

.icon-sm {
    font-size: 18px;
}

.icon-md {
    font-size: 24px;
}

.icon-lg {
    font-size: 36px;
}

.icon-xl {
    font-size: 48px;
}